body {
    font-family: Arial, Helvetica, sans-serif;
  }

.start-page {
    margin: 100px auto 0 auto;
    max-width: 600px;
  }

.hide {
    display: none;
  }

.start {
    text-align: center;
  }

.scores {
    position: absolute;
    top: 10px;
    left: 10px;
  }

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
  }

button {
    display: inline-block;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: rebeccapurple; 
    border-radius: 20x;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
  }

#question-title {
    display: block; 
    
}

.choices button {
    display: block;
}

input[type="text"] {
    font-size: 100%;
  }





